<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" junit="false" guice-stage="DEVELOPMENT" configfailurepolicy="skip" thread-count="5" skipfailedinvocationcounts="false" data-provider-thread-count="10" group-by-instances="false" preserve-order="true" allow-return-values="false">
   <test name="Unit Test" junit="false" skipfailedinvocationcounts="false" preserve-order="true" group-by-instances="false" allow-return-values="false">
      <classes>
      
      /CorporateAPIAutomation/src/test/java/api/corporate/AddressServiceTest.java
      	
      	<class name="api.corporate.AddressServiceTest" />
         <methods>
         	<exclude name="postCollection_address" />
         	<exclude name="post_address" />
         	<exclude name="patchCollection_address" />
         	<exclude name="patch_address" />
            <exclude name="getCollection_address" />
            <exclude name="get_address" />
            <exclude name="delete_address" />
         </methods>
           	
      	<class name="api.corporate.ContactServiceTest" />
         <methods>
         	<exclude name="postCollection_contact" />
         	<exclude name="post_contact" />
         	<exclude name="patchCollection_contact" />
         	<exclude name="patch_contact" />
            <exclude name="getCollection_contact" />
            <exclude name="get_contact" />
            <exclude name="delete_contact" />
         </methods>
      	
      	<class name="api.corporate.AccountServiceTest" />
         <methods>
         	<exclude name="postCollection_account" />
            <exclude name="getCollection_account" />
            <include name="get_account" />
         </methods>
      
         <class name="api.corporate.ReferenceServiceTest" />
         <methods>
            <exclude name="getCollection_reference" />
            <exclude name="get_reference" />
         </methods>
      </classes>
   </test>
   <!-- Test -->
</suite>
<!-- Suite -->